/* colours
blue: #009CBF
orange: #F75F00
green: #00A388
--tint-1: #333;
--tint-2: #666;
--tint-3: #999;
--tint-4: #ccc;
--tint-5: #e6e6e6;
--tint-6: #f2f2f2;
 */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("../fonts/abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Light";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Light"), url("../fonts/abcsans-light.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("../fonts/abcsans-black.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
  color: #333;
}
body {
  overflow: hidden;
}
h1, p {
  margin: 0;
}
#container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
}
#header {
  position: fixed;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  font-size: 1.25rem;
  color: #01CFFF;
  background: #333;
  padding: 3px 6px;
  right: 0;
}
#map {
  height: 100%;
  opacity: 0;
}
#border {
  fill: none;
  stroke: #666;
  stroke-dasharray: 2 3;
  pointer-events: none;
}
.suburb {
  fill: #e6e6e6;
  stroke: white;
}
#water {
  fill: #666;
  pointer-events: none;
}
.desktopSpan {
  display: none;
}
.mobileSpan {
  display: inline;
}
#footer {
  color: #999;
  font-size: .8rem;
}
@media only screen and (min-width: 500px) {
  .mobileSpan {
    display: none;
  }
  .desktopSpan {
    display: inline;
  }
}
